.quanLyDonViSuDung {

    height: 90%;
    padding-left: 40px;

    .container {
        width: 100%;
        height: 100%;

        .container-top {
            height: 10%;

            p {
                @include text (16px, 600, #F5F5FF);
                opacity: 0.5;

                i {
                    margin: 0 13px;
                    color: #FFAC69;
                }


            }

            h1 {
                @include text(24px, 700, #ffffff);
            }
        }

        .container-content {
            height: 90%;
            display: flex;
            justify-content: space-between;

            .wrap-content {
                width: 90%;
                height: 100%;

                .content-top {
                    margin-bottom: 10px;

                    #input_search {
                        position: relative;
                        width: 35%;

                        input {
                            width: 100%;
                            height: 36px;
                            background: #2b2b3f;
                            border-radius: 8px;
                            border: 2px solid #1e1e2e;
                            padding-left: 5px;
                        }

                        i {
                            color: #f5f5ff;
                            font-size: 18px;
                            position: absolute;
                            bottom: 8px;
                            right: 15px;
                        }
                    }
                }

                .content-bottom {
                    height: 75%;
                    background: rgba(47, 47, 65, 0.7);
                    border-radius: 16px 16px 0 0;

                    .wrap-table {
                        height: 100%;

                        table {
                            width: 100%;

                            padding: 24px;

                            thead {
                                tr {

                                    .stt {
                                        text-align: right;
                                    }

                                    th {
                                        @include text(12px, 700, #ffac69);
                                        margin: 0 10px;
                                        text-align: left;
                                        padding: 0 10px;

                                    }
                                }
                            }

                            tbody {
                                tr:last-child {
                                    &::after {
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        content: '';
                                        height: 0;
                                        width: 0;
                                        background: rgb(97, 96, 96);
                                    }
                                }

                                tr {
                                    height: 26px;
                                    position: relative;
                                    transition: all .5s;

                                    &:hover {
                                        background: #878890;
                                    }

                                    &::after {
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        content: '';
                                        height: 1px;
                                        width: 100%;
                                        background: rgb(97, 96, 96);
                                    }


                                    td {
                                        text-align: left;
                                        padding: 0px 10px;
                                        @include text(12px, 400, #FFFFFF);
                                        border: none;
                                    }

                                    .text_right {
                                        text-align: right;
                                    }

                                    .action {
                                        a {
                                            @include text(12px, 600, #FF7506);
                                        }
                                    }

                                    .true_thoiHan {

                                        position: relative;
                                        padding-left: 10px;

                                        &::before {
                                            content: "";
                                            position: absolute;
                                            display: block;
                                            width: 8px;
                                            height: 8px;
                                            border-radius: 50%;
                                            background-color: blue;
                                            top: 5px;
                                            left: 0;
                                        }
                                    }

                                    .false_thoiHan {
                                        position: relative;
                                        padding-left: 10px;

                                        &::before {
                                            content: "";
                                            position: absolute;
                                            display: block;
                                            width: 8px;
                                            height: 8px;
                                            border-radius: 50%;
                                            background-color: #878890;
                                            top: 5px;
                                            left: 0;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .pagination-table {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: rgba(47, 47, 65, 0.7);
                        border-radius: 0 0 16px 16px;
                        padding: 0 24px 24px 24px;
                        height: 15%;

                        .pagination_left {
                            p {
                                @include text (14px, 400, #F5F5FF);

                                input {
                                    width: 40px;
                                    margin: 0 5px;
                                    @include text(16px, 400, #ff7506);
                                    background: rgba(47, 47, 65, 0.7);
                                    border: 1px solid #ff7506;
                                    border-radius: 8px;
                                    padding: 5px 10px;
                                    @include text(16px, 400, #ffffff);

                                }
                            }
                        }

                        .pagination_right {
                            width: 100px;
                            display: flex;
                            justify-content: space-evenly;
                            gap: 5px;
                            align-items: center;

                            #btnPage {
                                display: flex;
                                gap: 5px;

                                button {
                                    width: 26px;
                                    height: 26px;
                                    @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%, rgba(255, 117, 6, 1), #FFF9F4);
                                    margin: auto;

                                    &:disabled {
                                        background: rgba(#000000, 0);
                                        color: #878890;

                                    }
                                }
                            }

                            button {
                                &:disabled {
                                    background: rgba(#000000, 0);
                                    color: #878890;

                                    &:hover {
                                        background: rgba(#000000, 0);
                                        color: #878890;
                                    }
                                }


                                @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%,
                                    rgba(47, 47, 65, 0.7), #ff7506);
                                margin: auto
                            }
                        }
                    }
                }
            }

            .menu {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 16px;
                width: 100px;
                height: 130px;
                background: #2f2f41;
                border-radius: 16px 0px 0px 16px;
                gap: 10px;

                .bg_icon {
                    width: 52px;
                    height: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(114, 114, 136, 0.5);
                    border-radius: 50%;

                    i {
                        font-size: 26px;
                        color: rgba(255, 71, 71, 1);
                    }
                }

                p {
                    @include text (12px, 500, #ffffff);
                    opacity: 0.7;
                }
            }
        }
    }
}