.left {
    max-width: 170px;
    /* Background/BG Dark */
    background: #020220;
    border-radius: 0px 24px 24px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;


    .left_logo {
        width: 96px;
        height: 96px;
        margin: 20px auto;
        border-radius: 50%;
        background: #fff;
        margin-top: 39px;

        img {
            width: 100%;
        }
    }

    .navbar_amdin {
        height: 80%;
        color: #C8C8DB;

        .navbar-nav {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;

            .nav-item {
                color: #C8C8DB;
                text-align: center;
                list-style: none;

                a {
                    text-decoration: none;
                    list-style: none;
                    background-color: #C8C8DB
                }

                p {
                    @include text(14px,
                        500,
                        #C8C8DB);
                    line-height: 17px;
                    margin-top: 5px;
                }
            }
        }
    }
}