.template {
    display: flex;
    background-color: #1E1E2E;
    position: relative;
    width: 100%;
    height: 100vh;

    .template_left {

        width: 170px;
        height: 100%;

        .sibarAdmin {
            position: fixed;
            width: 170px;
        }
    }

    .template_right {

        flex: 2;
    }
}