.chiTietHopDong {
    height: 90%;

    .container {
        padding-left: 40px;
        height: 100%;

        .container-top {
            height: 20%;

            p {
                @include text (14px, 600, #F5F5FF);
                opacity: 0.5;

                i {
                    margin: 0 13px;
                    color: #FFAC69;
                }

            }

            h1 {
                @include text(24px, 700, #ffffff);
                margin-bottom: 12px;
            }

            .tag {
                border: 1px solid #FF7506;
                border-radius: 24px;
                height: 40px;
                width: 30%;
                display: flex;
                justify-content: space-around;

                p {
                    opacity: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    @include text (16px, 600, #FFFFFF);
                    cursor: pointer;
                }

                .active {
                    background: #B65100;
                    border-radius: 24px;
                }
            }

        }

        .container-bottom {
            height: 80%;

            .container-center {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-between;

                .wrap-center-list {
                    width: 90%;

                    .center-list {
                        height: 43%;
                        display: flex;
                        justify-content: space-between;

                        .center-item {
                            width: 33%;

                            .item-title {
                                h5 {
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;

                                    .bg-icon {
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 50%;
                                        border: 1px solid #FFAC69;
                                        position: relative;

                                        i {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            font-size: 10px;
                                        }
                                    }

                                    @include text(14px, 700, #FFAC69);
                                }

                                table {
                                    width: 100%;
                                    padding: 10px 0;

                                    tbody {
                                        tr {
                                            height: 30px;

                                            td {

                                                @include text(14px, 700, #FFFFFF);


                                                &:last-child {
                                                    @include text (14px, 400, #F5F5FF);
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }

                        &:first-child {
                            .center-item:first-child {
                                tr {
                                    td:first-child {
                                        width: 33%;
                                    }
                                }

                                tr:last-child {
                                    td:last-child {
                                        padding-left: 15px;
                                        position: relative;

                                        &::after {
                                            content: '';
                                            position: absolute;
                                            width: 8px;
                                            height: 8px;
                                            border-radius: 50%;
                                            left: 0;
                                            top: 50%;
                                            transform: translateY(-50%);
                                        }
                                    }
                                }

                                .Mới {


                                    &::after {
                                        background: #18E306;

                                    }
                                }

                                .Đang {


                                    &::after {
                                        background: #347AFF;

                                    }
                                }

                                .Còn {

                                    &::after {
                                        background: #347AFF;

                                    }
                                }

                                .Hết {

                                    &::after {
                                        background: #878890;

                                    }
                                }

                                .hủy {


                                    &::after {
                                        background: #FF4747;

                                    }
                                }
                            }

                            .center-item:last-child {
                                padding-left: 50px;

                                tr {
                                    td:first-child {
                                        width: 60%;
                                    }
                                }
                            }

                            .center-item:nth-child(2) {
                                display: flex;
                                margin-top: 10px;
                                padding-left: 30px;

                                p {
                                    @include text(14px, 700, #FFFFFF);
                                    margin-right: 20px;
                                }

                                .file-dinhKem {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;

                                    .file-item {
                                        display: flex;
                                        gap: 10px;

                                        @include text (14px, 400, #F5F5FF);

                                        p {
                                            @include text (14px, 400, #F5F5FF)
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            .center-item {
                                &:first-child {
                                    tr {
                                        td {
                                            &:first-child {
                                                width: 45%;
                                            }
                                        }
                                    }
                                }

                                &:nth-child(2) {
                                    padding-left: 30px;

                                    tr {
                                        td:first-child {
                                            width: 35%;
                                        }
                                    }
                                }

                                &:last-child {
                                    padding-left: 50px;

                                    tr {
                                        td:first-child {
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }

                        &:last-child {

                            .center-item:first-child {

                                tr {
                                    td:first-child {
                                        width: 45%;
                                    }
                                }
                            }

                            .center-item:nth-child(2) {
                                padding-left: 30px;

                                tr {
                                    td:first-child {
                                        width: 35%;
                                    }
                                }
                            }

                            .center-item:last-child {
                                padding-left: 50px;

                                tr {
                                    td:first-child {
                                        width: 35%;
                                    }
                                }
                            }
                        }
                    }
                }

                .menu {
                    width: 110px;
                    height: 350px;
                    background: #2F2F41;
                    border-radius: 16px 0px 0px 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0 5px;

                    .menu-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;

                        .bg-icon {
                            width: 52px;
                            height: 52px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: rgba(114, 114, 136, 0.5);
                            border-radius: 50%;
                            cursor: pointer;

                            i {
                                font-size: 26px;
                                color: #ff7506;
                            }
                        }

                        p {
                            text-align: center;
                            @include text (12px, 500, #FFFFFF);
                            opacity: 0.7;
                        }

                        &:last-child {
                            .bg-icon {
                                i {
                                    color: #FF4747;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}