.addbanghi {
    width: 100%;
    height: 90%;

    .addbanghgi_container {
        margin: 0 40px 40px;
        height: 100%;

        .content-top {
            margin-bottom: 12px;
            height: 10%;

            p {
                @include text(12px, 400, #f5f5f5);

                i {
                    margin: 0 5px;
                    color: #FFAC69
                }
            }

            h1 {
                @include text(36px, 700, #ffffff);
            }
        }

        .content-center {
            display: flex;
            gap: 15px;
            height: 75%;

            .center-left {
                width: 50%;
                background: rgba(47, 47, 65, 0.7);
                border-radius: 16px;
                padding: 8px 12px;

                .left-title {
                    height: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h2 {
                        @include text(18px, 700, #ffffff);
                    }

                    .title-dropdown {
                        display: flex;
                        margin: 8px 0;

                        .title-item {
                            label {
                                @include text(14px, 600, #AEAEAE);
                                margin-right: 5px;
                            }

                            select {
                                @include text(14px, 400, #ff7506);
                                background: #1e1e2e;
                                border: 1px solid #ff7506;
                                border-radius: 8px;
                                padding: 10px;
                                margin: 5px 0;

                                option {
                                    margin: 8px 0;
                                    background: #3e3e5b;
                                    border: 2px solid #1e1e2e;
                                    @include text(16px, 400, #ffffff);
                                }
                            }
                        }
                    }

                    #input_search {
                        position: relative;
                        width: 35%;

                        input {
                            width: 100%;
                            height: 36px;
                            background: #2b2b3f;
                            border-radius: 8px;
                            border: 2px solid #1e1e2e;
                            padding-left: 5px;
                        }

                        i {
                            color: #f5f5ff;
                            font-size: 18px;
                            position: absolute;
                            bottom: 8px;
                            right: 15px;
                        }
                    }
                }

                .left-table {
                    margin-top: 8px;
                    height: 75%;

                    table {
                        width: 100%;
                        height: 85%;
                        // background: rgba(47, 47, 65, 0.7);
                        // border-radius: 16px 16px 0 0;
                        // padding: 16px 24px;

                        thead {
                            tr {

                                .stt {
                                    text-align: right;
                                }

                                th {
                                    @include text(12px, 700, #ffac69);
                                    margin: 0 10px;
                                    text-align: left;
                                    padding: 0 10px;

                                }
                            }
                        }

                        tbody {
                            tr:last-child {
                                &::after {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    content: '';
                                    height: 0;
                                    width: 0;
                                    background: rgb(97, 96, 96);
                                }
                            }

                            tr {
                                position: relative;
                                vertical-align: middle;

                                &::after {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    content: '';
                                    height: 1px;
                                    width: 100%;
                                    background: rgb(97, 96, 96);
                                }


                                td {
                                    text-align: left;
                                    padding: 0px 10px;
                                    @include text(12px, 400, #FFFFFF);
                                    border: none;


                                }

                                .text_right {
                                    text-align: right;
                                }

                                .action {
                                    a {
                                        @include text(12px, 600, #FF7506);
                                    }

                                    @include text(12px, 600, #FF7506);
                                    text-decoration: underline;
                                    cursor: pointer;
                                }

                                .true_thoiHan {

                                    position: relative;
                                    padding-left: 10px;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        display: block;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background-color: blue;
                                        top: 5px;
                                        left: 0;
                                    }
                                }

                                .false_thoiHan {
                                    position: relative;
                                    padding-left: 10px;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        display: block;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background-color: #878890;
                                        top: 5px;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }

                    .pagination-table {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        // background: rgba(47, 47, 65, 0.7);
                        // border-radius: 0 0 16px 16px;
                        padding: 8px;
                        height: 15%;

                        .pagination_left {
                            p {
                                @include text (14px, 400, #F5F5FF);

                                select {
                                    margin: 0 5px;
                                    @include text(16px, 400, #ff7506);
                                    background: rgba(47, 47, 65, 0.7);
                                    border: 1px solid #ff7506;
                                    border-radius: 8px;
                                    padding: 5px 10px;

                                    option {
                                        margin: 8px 0;
                                        background: #3e3e5b;
                                        border: 2px solid #1e1e2e;
                                        @include text(16px, 400, #ffffff);

                                    }
                                }
                            }
                        }

                        .pagination_right {
                            width: 100px;
                            display: flex;
                            justify-content: space-evenly;
                            gap: 5px;
                            align-items: center;

                            #btnPage {
                                display: flex;
                                gap: 5px;

                                button {
                                    width: 26px;
                                    height: 26px;
                                    @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%, rgba(255, 117, 6, 1), #FFF9F4);
                                    margin: auto;

                                    &:disabled {
                                        background: rgba(#000000, 0);
                                        color: #878890;

                                    }
                                }
                            }

                            button {
                                &:disabled {
                                    background: rgba(#000000, 0);
                                    color: #878890;

                                    &:hover {
                                        background: rgba(#000000, 0);
                                        color: #878890;
                                    }
                                }


                                @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%,
                                    rgba(47, 47, 65, 0.7), #ff7506);
                                margin: auto
                            }
                        }
                    }
                }

            }

            .center-right {
                width: 50%;
                padding: 8px 12px;
                background: rgba(47, 47, 65, 0.7);
                border-radius: 16px;

                .title-list {
                    display: flex;
                    gap: 30px;
                    margin-top: 8px;

                    .title-item {
                        display: flex;
                        gap: 10px;

                        p {
                            @include text(14px, 700, #FFFFFF);
                        }

                        span {
                            @include text(14px, 400, #FFFFFF);
                            opacity: 0.7;
                        }
                    }
                }

                .title-search {
                    display: flex;
                    justify-content: space-between;

                    .title-item {
                        label {
                            @include text(14px, 600, #AEAEAE);
                            margin-right: 5px;
                        }

                        select {
                            @include text(14px, 400, #ff7506);
                            background: #1e1e2e;
                            border: 1px solid #ff7506;
                            border-radius: 8px;
                            padding: 10px;
                            margin: 5px 0;

                            option {
                                margin: 8px 0;
                                background: #3e3e5b;
                                border: 2px solid #1e1e2e;
                                @include text(16px, 400, #ffffff);
                            }
                        }


                    }

                    .input-search {
                        width: 35%;

                        #input_search {
                            position: relative;
                            width: 100%;

                            input {
                                width: 100%;
                                height: 36px;
                                background: #2b2b3f;
                                border-radius: 8px;
                                border: 2px solid #1e1e2e;
                                padding-left: 5px;
                            }

                            i {
                                color: #f5f5ff;
                                font-size: 18px;
                                position: absolute;
                                bottom: 8px;
                                right: 15px;
                            }
                        }
                    }
                }

                .right-table {
                    position: relative;

                    #null_data {
                        position: absolute;
                        top: 55px;
                        left: 50%;
                        transform: translateX(-50%);
                        // position: relative;

                        @include text(12px, 600, #f5f5f5);

                        i {
                            color: red;
                        }

                        &::after {
                            position: absolute;
                            bottom: -30px;
                            left: 50%;
                            transform: translateX(-50%);
                            content: "";
                            width: 225%;
                            height: 1px;
                            background: #727288;
                            opacity: 0.3;
                        }

                    }
                }
            }
        }

        .content-bottom {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 20px;


            button:nth-child(1) {
                @include button (18px, 500, #ffffff, rgba(0, 0, 0, 0), 12px 40px, 1px solid #FF7506, 8px, #FF7506, #ffffff)
            }

            button:nth-child(2) {
                @include button (18px, 500, #ffffff, #FF7506, 12px 40px, 1px solid #FF7506, 8px, rgba(0, 0, 0, 0), #ffffff)
            }
        }
    }
}