.dang_nhap {
    background: #1e1e2e;
    color: #ffffff;

    .dang_nhap--header {
        padding-right: 80px;
        padding-top: 24px;
        background: #1e1e2e;
        color: #ffffff;
        display: flex;
        justify-content: flex-end;
    }

    .dang_nhap_content {
        margin: 0px auto;
        width: 35%;
        background: #1e1e2e;
        padding: 20px 0;

        .logo {
            margin: auto;
            width: 240px;
            height: 240px;
            background: #ffffff;
            border-radius: 50%;

        }

        .content {
            h1 {
                text-align: center;
                margin-top: 40px;
                @include text(36px, 700, #fff);
                line-height: 48px;
            }
        }

        form {
            .form_title {
                margin-bottom: 20px;

                label {
                    @include text(16px, 600, #fff);
                    line-height: 24px;
                    opacity: 0.7;
                    margin-bottom: 8px;
                }

                input {
                    padding: 11px 24px 13px 16px;
                    width: 100%;
                    height: 48px;
                    background: #2b2b3f;
                    border-radius: 8px;
                    @include text (16px,
                        400,
                        #F5F5FF);
                    line-height: 24px;

                    &:focus {
                        outline: none;
                        border: 2px solid #347aff;
                    }
                }

                .password {
                    position: relative;

                    .fa-eye {
                        color: #fff;
                        position: absolute;
                        top: 18px;
                        right: 25px;
                    }

                    #doiMau {
                        color: #ff7506 !important;
                    }
                }

                .text-error {
                    margin-top: 10px;
                    @include text (14px, 400, red)
                }
            }

            .form_checkbox {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 20px;

                // #ghi_nho {
                //     color: #347aff;
                //     display: block;
                //     border: 2px solid blue;
                // }

                span {
                    @include text(16px, 400, #fff);
                }
            }

            .form_button {
                display: flex;
                justify-content: center;

                button {
                    margin: 48px 0 60px;
                    @include button(24px,
                        400,
                        #fff,
                        #ff7506,
                        16px 24px,
                        1px solid #ff7506,
                        8px,
                        #1e1e2e,
                        #ff7506);
                }
            }
        }

        .form_footer {
            display: flex;
            justify-content: center;

            a {
                color: #ff7506;
                margin-bottom: 51px;
                text-decoration: underline;
            }
        }
    }
}