.playlist {
    margin-left: 40px;
    height: 90%;
    width: 97%;

    h1 {
        @include text(24px, 700, #ffffff);
    }

    .playlist_container {
        width: 100%;

        .playlist_content {
            display: flex;
            justify-content: space-between;

            .playlist_content-left {
                width: 90%;

                .content_title {
                    display: flex;

                    .content-search {
                        width: 100%;

                        #input_search {
                            position: relative;
                            width: 35%;

                            input {
                                width: 100%;
                                height: 36px;
                                background: #2b2b3f;
                                border-radius: 8px;
                                border: 2px solid #1e1e2e;
                                padding-left: 5px;
                            }

                            i {
                                color: #f5f5ff;
                                font-size: 18px;
                                position: absolute;
                                bottom: 8px;
                                right: 15px;
                            }
                        }
                    }

                    .title-item {
                        display: flex;
                        gap: 15px;

                        i {
                            gap: 20px;
                            font-size: 32px;
                        }
                    }
                }

                .content-render {
                    height: 90%;

                    .render-table {
                        background: rgba(47, 47, 65, 0.7);
                        border-radius: 16px;

                        table {
                            width: 100%;
                            height: 85%;
                            background: rgba(47, 47, 65, 0.7);
                            border-radius: 16px 16px 0 0;
                            padding: 16px 24px;

                            thead {
                                tr {
                                    th {
                                        @include text(12px, 700, #ffac69);
                                        margin: 0 10px;
                                        text-align: left;
                                        padding: 0 10px;

                                    }
                                }
                            }

                            tbody {
                                tr:last-child {
                                    &::after {
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        content: '';
                                        height: 0;
                                        width: 0;
                                        background: rgb(97, 96, 96);
                                    }
                                }

                                tr {
                                    position: relative;
                                    vertical-align: middle;
                                    height: 30px;

                                    &::after {
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        content: '';
                                        height: 1px;
                                        width: 100%;
                                        background: rgb(97, 96, 96);
                                    }


                                    td {
                                        margin-top: 2px;
                                        text-align: left;
                                        padding: 0px 10px;
                                        @include text(12px, 400, #FFFFFF);
                                        border: none;
                                    }

                                    .td-chuDe {
                                        display: flex;
                                        gap: 5px;
                                        align-items: center;

                                        p {
                                            padding: 3px 10px;
                                            border: 1px solid #727288;
                                            border-radius: 4px;
                                        }

                                    }

                                    .text_right {
                                        text-align: right;
                                    }

                                    .action {
                                        @include text(12px, 600, #FF7506);
                                    }
                                }
                            }
                        }

                        .pagination-table {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background: rgba(47, 47, 65, 0.7);
                            border-radius: 0 0 16px 16px;
                            padding: 0 24px;
                            height: 15%;

                            .pagination_left {
                                p {
                                    @include text (14px, 400, #F5F5FF);

                                    select {
                                        margin: 0 5px;
                                        @include text(16px, 400, #ff7506);
                                        background: rgba(47, 47, 65, 0.7);
                                        border: 1px solid #ff7506;
                                        border-radius: 8px;
                                        padding: 5px 10px;

                                        option {
                                            margin: 8px 0;
                                            background: #3e3e5b;
                                            border: 2px solid #1e1e2e;
                                            @include text(16px, 400, #ffffff);

                                        }
                                    }
                                }
                            }

                            .pagination_right {
                                width: 100px;
                                display: flex;
                                justify-content: space-evenly;
                                gap: 5px;
                                align-items: center;

                                #btnPage {
                                    display: flex;
                                    gap: 5px;

                                    button {
                                        width: 26px;
                                        height: 26px;
                                        @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%, rgba(255, 117, 6, 1), #FFF9F4);
                                        margin: auto;

                                        &:disabled {
                                            background: rgba(#000000, 0);
                                            color: #878890;

                                        }
                                    }
                                }

                                button {
                                    &:disabled {
                                        background: rgba(#000000, 0);
                                        color: #878890;

                                        &:hover {
                                            background: rgba(#000000, 0);
                                            color: #878890;
                                        }
                                    }


                                    @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%,
                                        rgba(47, 47, 65, 0.7), #ff7506);
                                    margin: auto
                                }
                            }
                        }
                    }
                }
            }

            .playlist_content-addPlaylsit {
                height: 130px;
                background: #2f2f41;
                border-radius: 16px 0px 0px 16px;
                gap: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .bg_icon {
                    width: 52px;
                    height: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(114, 114, 136, 0.5);
                    border-radius: 50%;

                    i {
                        font-size: 26px;
                        color: #ff7506;
                    }
                }

                p {
                    padding: 0 10px;
                    @include text (12px, 500, #ffffff);
                    opacity: 0.7;
                }
            }
        }
    }

    .playlist_content {
        position: relative;
        height: 90%;
        width: 100%;

        .content-title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;

            .title_list {
                height: 10%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5px;

                .title-item {
                    label {
                        @include text(14px, 600, #ffffff);
                        margin-right: 5px;
                    }

                    select {
                        @include text(14px, 400, #ff7506);
                        background: #1e1e2e;
                        border: 1px solid #ff7506;
                        border-radius: 8px;
                        padding: 10px;
                        margin: 5px 0;

                        option {
                            margin: 8px 0;
                            background: #3e3e5b;
                            border: 2px solid #1e1e2e;
                            @include text(16px, 400, #ffffff);
                        }
                    }

                    i {
                        gap: 20px;
                        font-size: 32px;

                    }
                }
            }

            .content-render {
                height: 90%;


                .content-table {
                    height: 100%;

                    .content-table-wrap {
                        height: 100%;
                        padding-bottom: 20px;

                        table {
                            width: 100%;
                            height: 85%;
                            background: rgba(47, 47, 65, 0.7);
                            border-radius: 16px 16px 0 0;
                            padding: 16px 24px;

                            thead {
                                tr {

                                    .stt {
                                        text-align: right;
                                    }

                                    th {
                                        @include text(12px, 700, #ffac69);
                                        margin: 0 10px;
                                        text-align: left;
                                        padding: 0 10px;

                                    }
                                }
                            }

                            tbody {
                                tr:last-child {
                                    &::after {
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        content: '';
                                        height: 0;
                                        width: 0;
                                        background: rgb(97, 96, 96);
                                    }
                                }

                                tr {
                                    position: relative;
                                    vertical-align: middle;

                                    &::after {
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        content: '';
                                        height: 1px;
                                        width: 100%;
                                        background: rgb(97, 96, 96);
                                    }


                                    td {
                                        text-align: left;
                                        padding: 0px 10px;
                                        @include text(12px, 400, #FFFFFF);
                                        border: none;


                                    }

                                    .text_right {
                                        text-align: right;
                                    }

                                    .action {
                                        a {
                                            @include text(12px, 600, #FF7506);
                                        }
                                    }

                                    .true_thoiHan {

                                        position: relative;
                                        padding-left: 10px;

                                        &::before {
                                            content: "";
                                            position: absolute;
                                            display: block;
                                            width: 8px;
                                            height: 8px;
                                            border-radius: 50%;
                                            background-color: blue;
                                            top: 5px;
                                            left: 0;
                                        }
                                    }

                                    .false_thoiHan {
                                        position: relative;
                                        padding-left: 10px;

                                        &::before {
                                            content: "";
                                            position: absolute;
                                            display: block;
                                            width: 8px;
                                            height: 8px;
                                            border-radius: 50%;
                                            background-color: #878890;
                                            top: 5px;
                                            left: 0;
                                        }
                                    }
                                }
                            }
                        }

                        .pagination-table {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background: rgba(47, 47, 65, 0.7);
                            border-radius: 0 0 16px 16px;
                            padding: 0 24px;
                            height: 15%;

                            .pagination_left {
                                p {
                                    @include text (14px, 400, #F5F5FF);

                                    select {
                                        margin: 0 5px;
                                        @include text(16px, 400, #ff7506);
                                        background: rgba(47, 47, 65, 0.7);
                                        border: 1px solid #ff7506;
                                        border-radius: 8px;
                                        padding: 5px 10px;

                                        option {
                                            margin: 8px 0;
                                            background: #3e3e5b;
                                            border: 2px solid #1e1e2e;
                                            @include text(16px, 400, #ffffff);

                                        }
                                    }
                                }
                            }

                            .pagination_right {
                                width: 100px;
                                display: flex;
                                justify-content: space-evenly;
                                gap: 5px;
                                align-items: center;

                                #btnPage {
                                    display: flex;
                                    gap: 5px;

                                    button {
                                        width: 26px;
                                        height: 26px;
                                        @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%, rgba(255, 117, 6, 1), #FFF9F4);
                                        margin: auto;

                                        &:disabled {
                                            background: rgba(#000000, 0);
                                            color: #878890;

                                        }
                                    }
                                }

                                button {
                                    &:disabled {
                                        background: rgba(#000000, 0);
                                        color: #878890;

                                        &:hover {
                                            background: rgba(#000000, 0);
                                            color: #878890;
                                        }
                                    }


                                    @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%,
                                        rgba(47, 47, 65, 0.7), #ff7506);
                                    margin: auto
                                }
                            }
                        }
                    }
                }

                .content-card {
                    height: 100%;

                    .card-container {

                        width: 100%;
                        height: 85%;

                        .card-list {
                            height: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            align-items: center;
                            // grid-template-columns: auto auto auto auto;
                            gap: 10px;
                        }

                        .pagination-card {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 15px;
                            border-radius: 0 0 16px 16px;
                            padding: 0 24px;
                            height: 15%;

                            .pagination_left {
                                p {
                                    @include text (14px, 400, #F5F5FF);

                                    select {
                                        margin: 0 5px;
                                        @include text(16px, 400, #ff7506);
                                        background: rgba(47, 47, 65, 0.7);
                                        border: 1px solid #ff7506;
                                        border-radius: 8px;
                                        padding: 5px 10px;

                                        option {
                                            margin: 8px 0;
                                            background: #3e3e5b;
                                            border: 2px solid #1e1e2e;
                                            @include text(16px, 400, #ffffff);

                                        }
                                    }
                                }
                            }

                            .pagination_right {
                                width: 100px;
                                display: flex;
                                justify-content: space-evenly;
                                gap: 5px;
                                align-items: center;

                                #btnPage {
                                    display: flex;
                                    gap: 5px;

                                    button {
                                        width: 26px;
                                        height: 26px;
                                        @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%, rgba(255, 117, 6, 1), #FFF9F4);
                                        margin: auto;

                                        &:disabled {
                                            background: rgba(#000000, 0);
                                            color: #878890;

                                        }
                                    }
                                }

                                button {
                                    &:disabled {
                                        background: rgba(#000000, 0);
                                        color: #878890;

                                        &:hover {
                                            background: rgba(#000000, 0);
                                            color: #878890;
                                        }
                                    }


                                    @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%,
                                        rgba(47, 47, 65, 0.7), #ff7506);
                                    margin: auto
                                }
                            }
                        }
                    }
                }


            }

        }

        .content-quanLyPheDuyet {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px;
            width: 8%;
            height: 130px;
            background: #2f2f41;
            border-radius: 16px 0px 0px 16px;
            gap: 10px;

            .bg_icon {
                width: 52px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(114, 114, 136, 0.5);
                border-radius: 50%;

                i {
                    font-size: 26px;
                    color: #ff7506;
                }
            }

            span {
                text-align: center;
                @include text (12px, 500, #ffffff);
                line-height: 18px;
                opacity: 0.7;

            }
        }
    }
}