.quanLyHopDong {
    height: 90%;
    padding-left: 40px;

    .container {
        width: 100%;
        height: 100%;

        .content-top {
            margin-bottom: 18px;

            p {
                @include text (14px, 600, #F5F5FF);
                opacity: 0.5;

                i {
                    margin: 0 13px;
                    color: #FFAC69;
                }

            }

            h1 {
                @include text(24px, 700, #ffffff);
                margin-bottom: 12px;
            }

            .tag {
                border: 1px solid #FF7506;
                border-radius: 24px;
                height: 40px;
                width: 30%;
                display: flex;
                justify-content: space-around;

                p {
                    opacity: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    @include text (16px, 600, #FFFFFF);
                    cursor: pointer;
                }

                .active {
                    background: #B65100;
                    border-radius: 24px;
                }
            }
        }

        .content-center {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-between;

            .center-left {
                height: 100%;
                width: 90%;

                .left-top {
                    height: 10%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .top-list {
                        display: flex;
                        gap: 60px;

                        .top-item {
                            label {
                                @include text(14px, 600, #ffffff);
                                margin-right: 5px;
                            }

                            select {
                                @include text(14px, 400, #ff7506);
                                background: #1e1e2e;
                                border: 1px solid #ff7506;
                                border-radius: 8px;
                                padding: 10px;
                                margin: 5px 0;

                                option {
                                    margin: 8px 0;
                                    background: #3e3e5b;
                                    border: 2px solid #1e1e2e;
                                    @include text(16px, 400, #ffffff);
                                }
                            }
                        }
                    }

                    #input_search {
                        position: relative;
                        width: 30%;
                        height: 36px;

                        input {
                            width: 100%;
                            height: 36px;
                            background: #2b2b3f;
                            border-radius: 8px;
                            border: 2px solid #1e1e2e;
                            padding-left: 5px;
                            font-size: 10px;
                            position: relative;
                        }

                        i {
                            color: #f5f5ff;
                            font-size: 18px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 15px;
                        }
                    }
                }

                .center-table {
                    height: 85%;
                    background: rgba(47, 47, 65, 0.7);
                    border-radius: 16px;
                    padding: 16px 24px;

                    .wrap-danhSach {
                        height: 80%;

                        .wrap-table {
                            height: 100%;
                            margin-bottom: 20px;

                            table {
                                width: 100%;

                                thead {
                                    tr {
                                        th {
                                            @include text(12px, 700, #ffac69);
                                            margin: 0 10px;
                                            text-align: left;
                                            padding: 0 10px;

                                        }

                                        .stt {
                                            text-align: right;
                                        }

                                    }
                                }

                                tbody {


                                    tr {
                                        position: relative;
                                        vertical-align: middle;
                                        height: 30px;

                                        &::after {
                                            position: absolute;
                                            left: 0;
                                            bottom: 0;
                                            content: '';
                                            height: 1px;
                                            width: 100%;
                                            background: rgb(97, 96, 96);
                                        }

                                        &:last-child {
                                            &::after {
                                                position: absolute;
                                                bottom: 0;
                                                left: 0;
                                                content: '';
                                                height: 0;
                                                width: 0;
                                                background: rgb(97, 96, 96);
                                            }
                                        }


                                        td {
                                            text-align: left;
                                            padding: 0px 10px;
                                            @include text(12px, 400, #FFFFFF);
                                            border: none;
                                            height: 30px;

                                        }

                                        .Mới {
                                            position: relative;
                                            padding: 15px;

                                            &::after {
                                                background: #18E306;
                                                content: "";
                                                width: 8px;
                                                height: 8px;
                                                border-radius: 50%;
                                                position: absolute;
                                                left: 0px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                            }
                                        }

                                        .Đang {
                                            position: relative;
                                            padding: 15px;

                                            &::after {
                                                background: #347AFF;
                                                content: "";
                                                width: 8px;
                                                height: 8px;
                                                border-radius: 50%;
                                                position: absolute;
                                                left: 0px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                            }
                                        }

                                        .Còn {
                                            position: relative;
                                            padding: 15px;

                                            &::after {
                                                background: #347AFF;
                                                content: "";
                                                width: 8px;
                                                height: 8px;
                                                border-radius: 50%;
                                                position: absolute;
                                                left: 0px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                            }
                                        }

                                        .Hết {
                                            position: relative;
                                            padding: 15px;

                                            &::after {
                                                background: #878890;
                                                content: "";
                                                width: 8px;
                                                height: 8px;
                                                border-radius: 50%;
                                                position: absolute;
                                                left: 0px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                            }
                                        }

                                        .hủy {
                                            position: relative;
                                            padding: 15px;

                                            &::after {
                                                background: #FF4747;
                                                content: "";
                                                width: 8px;
                                                height: 8px;
                                                border-radius: 50%;
                                                position: absolute;
                                                left: 0px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                            }
                                        }


                                        .text_right {
                                            text-align: right;
                                        }

                                        .action {
                                            @include text(12px, 600, #FF7506);

                                            a {
                                                @include text(12px, 600, #FF7506);
                                            }
                                        }

                                        .true_thoiHan {

                                            position: relative;
                                            padding-left: 20px;

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                display: block;
                                                width: 8px;
                                                height: 8px;
                                                border-radius: 50%;
                                                background-color: blue;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                left: 10px;
                                            }
                                        }

                                        .moi_thoiHan {

                                            position: relative;
                                            padding-left: 20px;

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                display: block;
                                                width: 8px;
                                                height: 8px;
                                                border-radius: 50%;
                                                background-color: #18E306;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                left: 10px;
                                            }
                                        }

                                        .false_thoiHan {
                                            position: relative;
                                            padding-left: 20px;

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                display: block;
                                                width: 8px;
                                                height: 8px;
                                                border-radius: 50%;
                                                background-color: red;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                left: 10px;
                                            }
                                        }
                                    }
                                }
                            }

                        }

                        .pagination-table {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 10%;
                            width: 100%;

                            .pagination_left {
                                p {
                                    @include text (14px, 400, #F5F5FF);

                                    select {
                                        margin: 0 5px;
                                        @include text(16px, 400, #ff7506);
                                        background: rgba(47, 47, 65, 0.7);
                                        border: 1px solid #ff7506;
                                        border-radius: 8px;
                                        padding: 5px 10px;

                                        option {
                                            margin: 8px 0;
                                            background: #3e3e5b;
                                            border: 2px solid #1e1e2e;
                                            @include text(16px, 400, #ffffff);

                                        }
                                    }
                                }
                            }

                            .pagination_right {
                                width: 30%;
                                display: flex;
                                justify-content: space-evenly;
                                gap: 5px;
                                align-items: center;

                                #btnPage {
                                    display: flex;
                                    gap: 5px;

                                    button {
                                        width: 26px;
                                        height: 26px;
                                        @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%, rgba(255, 117, 6, 1), #FFF9F4);
                                        margin: auto;

                                        &:disabled {
                                            background: rgba(#000000, 0);
                                            color: #878890;

                                        }
                                    }
                                }

                                button {
                                    &:disabled {
                                        background: rgba(#000000, 0);
                                        color: #878890;

                                        &:hover {
                                            background: rgba(#000000, 0);
                                            color: #878890;
                                        }
                                    }


                                    @include button (14px, 500, #FFF9F4, rgba(47, 47, 65, 0.7), 1px solid rgba(47, 47, 65, 0.7), 0, 50%,
                                        rgba(47, 47, 65, 0.7), #ff7506);
                                    margin: auto
                                }
                            }
                        }
                    }
                }
            }

            .center-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 16px;
                width: 100px;
                height: 130px;
                background: #2f2f41;
                border-radius: 16px 0px 0px 16px;
                gap: 10px;

                .bg_icon {
                    width: 52px;
                    height: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(114, 114, 136, 0.5);
                    border-radius: 50%;

                    i {
                        font-size: 26px;
                        color: #ff7506;
                    }
                }

                span {
                    text-align: center;
                    @include text (12px, 500, #ffffff);
                    line-height: 18px;
                    opacity: 0.7;

                }
            }
        }
    }
}