.container {

    h1 {
        @include text(24px, 700, #f5f5f5);
        // line-height: 48px;
        margin: 20px 40px;
    }

    .content {

        display: flex;
        justify-content: flex-start;
        gap: 15%;

        .content_avatar {
            width: 15%;
            text-align: center;
            margin-left: 30px;

            .left-avatar {
                position: relative;

                img {
                    width: 100%;
                    border-radius: 50%;
                }

                .camera {
                    position: absolute;
                    width: 25%;
                    height: 25%;
                    right: 5px;
                    bottom: 5px;
                    border-radius: 50%;
                    background: rgba(30, 30, 46, 0.7);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 24px;
                        color: #ffffff;
                    }
                }
            }

            p {
                margin-top: 24px;
                @include text (18px, 600, #F5F5FF);
            }
        }

        .content_form {
            width: 33%;

            #form_profile {
                width: 100%;

                form {
                    .form_profile-top {
                        display: flex;

                        gap: 20px;

                        .form_title {
                            margin-bottom: 24px;

                            label {
                                @include text(16px, 600, #fff);
                                line-height: 24px;

                                margin-bottom: 8px;
                            }

                            input {
                                padding: 11px 24px 13px 16px;
                                width: 100%;
                                height: 36px;
                                background: #2b2b3f;
                                border-radius: 8px;
                                @include text (16px,
                                    400,
                                    #F5F5FF);
                                line-height: 24px;

                                &:focus {
                                    outline: none;
                                    border: 2px solid #347aff;
                                }
                            }


                        }
                    }

                    .form_profile-bottom {
                        .form_title {
                            margin-bottom: 24px;

                            label {
                                @include text(16px, 600, #ffffff);
                                line-height: 24px;
                                margin-bottom: 8px;
                            }

                            input {
                                padding: 11px 24px 13px 16px;
                                width: 100%;
                                height: 36px;
                                background: #3E3E50;
                                border-radius: 8px;
                                @include text (16px,
                                    400,
                                    #F5F5FF);
                                line-height: 24px;

                                &:focus {
                                    outline: none;
                                    border: 2px solid #347aff;
                                }
                            }

                            #phanQuyen {
                                width: 274px;
                            }

                        }
                    }
                }
            }
        }


    }

    .menu {

        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px;
        width: 8%;
        height: 372px;
        background: #2F2F41;
        border-radius: 16px 0px 0px 16px;
        top: 145px;
        right: 0;

        .menu_icon {
            padding: 10px 16px;
            text-align: center;
            cursor: pointer;

            .icon-bg {
                width: 52px;
                height: 52px;
                background: rgba(114, 114, 136, 0.5);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;

                i {
                    font-size: 24px;
                    color: #FF7506;
                }
            }

            p {
                margin-top: 10px;
                @include text (12px, 500, #ffffff);
                line-height: 18px;
            }
        }
    }
}